<h1><%=@sub.title%></h1>
Description:
<br>
<%= @sub.description %>
<br>
<br>
<br>
<a href="<%= new_post_url %>">Make New Post!</a>
<br>

<ul>
  <% @posts.each do |post| %>
  <li>
    <a href="<%= post_url(post)%>"><%= post.title %></a>
  </li>
  <% end %>
</ul>
